@import url('https://fonts.cdnfonts.com/css/bahnschrift');
@import url('http://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Bahnschrift', 'Roboto', sans-serif !important;
}

.bg-alpha, .btn-alpha, .btn-outline-alpha:hover, .btn-beta:hover {
    background-color: #483475 !important;
    color: #ffffff !important;
}

.bg-beta, .btn-beta, .btn-outline-beta:hover, .btn-alpha:hover {
    background-color: #141852 !important;
    color: #ffffff !important;
}

.btn-outline-alpha {
    color: #483475 !important;
    border-color: #483475 !important;
}

.btn-outline-beta {
    color: #141852 !important;
    border-color: #141852 !important;
}

.nav-item {
    font-size: 1.7rem;
}

.text-shadow-1 {
    text-shadow: 5px 5px 5px #000000;
}

.text-shadow-2 {
    text-shadow: 0 0 3px #483475;
}

.bg-jumbo {
    background: url('https://galacticdigitalstudios.com/img/banner-1.jpg');
    background-size: 100% 100%;
}

.display-7 {
    font-size: calc(1.475rem + 1.4vw);
    font-weight: 200;
    line-height: 1;
}

.effect-2 {
    overflow: hidden;
}

.hidden {
    display: none;
}

.text-black {
    color: black;
}

.overflow-scroll {
    overflow: scroll;
}

.home-title {
    color: white;
    text-shadow: 0 0 12px black;
    width: 100%;
    text-align: center;
    animation: fadeup 2s;
}

.home-subtitle {
    margin: 0 auto;
    box-shadow: 1px 1px 12px black;
    animation: delayedfadeup 3s;
}

@keyframes fadeup {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes delayedfadeup {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    70% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}